{% extends 'base.html.twig' %}

{% block title %}Hello CroquetteController!{% endblock %}

{% block body %}
    
    {# <h1>{{ title }}</h1> #}
    <a href="{{ path('croquette') }}">Gérer les croquettes</a>

{% endblock %}
